:root {
  background-color: #141d2f;
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
/* Form Styles */

form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e2a47;
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 16px 12px 16px 12px;
  align-items: end;
  justify-content: space-between;
}

.inputSearch {
  background-color: #1e2a47;
  color: white;
  border: none;
  width: 100%;
}
::placeholder {
  color: #757575;
  font-size: 16px;
}

.searchButton {
  background-color: #0079ff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
  font-size: 12px;
}

/* User Card Styles */
.userContainer {
  display: flex;
  background-color: #1e2a47;
  width: 620px;
  padding: 40px;
  border-radius: 8px;
  flex-direction: column;
}
.topContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.profileImg {
  border-radius: 50%;
  height: 120px;
}
.profileInfo {
  display: flex;
  max-height: 96px;
  flex-direction: column;
  padding: 12px 20px 12px 20px;
  justify-content: space-between;
}
.userName {
  font-weight: 700;

  font-size: 20px;
}
.userLink {
  font-size: 12px;
  color: #0079e1;
}
.bio {
  font-size: 12px;
}

.bottomContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 24px;
}

.statsContainer {
  display: flex;
  background-color: #141d2f;
  border-radius: 8px;
  padding: 20px 70px 20px 70px;
  width: 340px;
  height: 50px;
  justify-content: space-between;
  align-self: end;
}

.itemStat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.networkContainer {
  display: flex;
  width: 365px;
  align-self: center;
  padding-top: 32px;
  margin-left: 16px;
  padding-bottom: 12px;
  color: #697c9a;
  justify-content: space-between;
}
.icon {
  margin-right: 12px;
}

.singleNetwork {
  display: flex;
  align-items: end;
  padding-bottom: 4px;
}

.errorMessage {
  display: flex;
  color: red;
  justify-content: center;
}
